<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>78236358015-mo85dl2nfv2l4ol83j3jm014l6bc1fk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78236358015-mo85dl2nfv2l4ol83j3jm014l6bc1fk8</string>
	<key>API_KEY</key>
	<string>AIzaSyCJCHK317SHKiBih24j0OvLG71VqlskGcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>78236358015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>l.ink</string>
	<key>PROJECT_ID</key>
	<string>l-ink-ionic</string>
	<key>STORAGE_BUCKET</key>
	<string>l-ink-ionic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78236358015:ios:62be92e1714da758</string>
	<key>DATABASE_URL</key>
	<string>https://l-ink-ionic.firebaseio.com</string>
</dict>
</plist>